<button
  type="button"
  class="btn-close close pull-right"
  (click)="bsModalRef.hide()"
>
  <span aria-hidden="true" class="visually-hidden">×</span>
</button>
<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center px-5">
    <div class="col-12">
      {{ _fotoSeleccionada?.name }}
    </div>
    <div class="col-8 card">
      <div class="form-group" *ngIf="tagsDisponibles">
        <div
          class="custom-wrapper-example"
          matAutocompleteOrigin
          #origin="matAutocompleteOrigin"
        >
          <!-- <input
            matInput
            type="text"
            class="formControl"
            placeholder="Nombre de la etiqueta"
            aria-label="Number"

            [matAutocomplete]="auto"
            #etiqueta
          />
          <input
            matInput
            [matAutocomplete]="auto"
            [matAutocompleteConnectedTo]="origin"
            #etiqueta
          />
        </div>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let tag of tagsDisponibles" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>

          <button
            class="btn btn-success"
            (click)="agregaEtiqueta(etiqueta.value)"
          >
            Agregar
          </button> -->
        </div>

        <h2 *ngIf="!etiquetas.length">Esta foto todavía no se ha etiquetado</h2>
        <ng-container *ngIf="etiquetas.length">
          <div class="form-group flex-column d-flex">
            <label class="form-control-label pl-2">Etiquetas:</label>
            <ul *ngIf="etiquetas.length" class="ulEtiquetas">
              <li *ngFor="let etiqueta of etiquetas; let i = index">
                {{ etiqueta.name }}
                <button
                  class="btn test"
                  (click)="borrarEtiqueta(etiqueta._id, i)"
                >
                  X
                </button>
              </li>
            </ul>
          </div>
        </ng-container>
      </div>
      <div *ngIf="autoFilter">
        Nuevo div con autoFilter: {{ autoFilter }}
        <br />
        <mat-form-field style="width: 300px; margin: 50px auto; display: block">
          <input
            type="text"
            placeholder="Netflix Webseries"
            matInput
            [formControl]="formControl"
            [matAutocomplete]="auto"
          />

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let item of autoFilter | async" [value]="item">
              {{ item }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-1"></div>
      <div class="col-3 card">
        <img
          class="img-fluid imgEtiquetada"
          [src]="urlImg + _fotoSeleccionada?.id"
          [alt]="fotoSeleccionada?.name"
        />
      </div>
    </div>
  </div>
</div>
