<button
  type="button"
  class="btn-close close pull-right"
  (click)="bsModalRef.hide()"
>
  <i class="icon-close"></i>
</button>

<!-- EDICIÓN SIMPLE -->
<div class="container-fluid px-1 py-2 mx-auto" *ngIf="stateEdit">
  <div class="border-bottom py-3 font-weight-bold titleEdit mb-0 ps-4">
    Editar imagen
  </div>
  <div class="row mx-0 ps-4">
    <div class="col-12 col-md-8 order-2 order-md-1 text-left pt-4 ps-0">
      <div class="contenedorImg">
        <img
          class="imgEtiquetada"
          [src]="urlImg + _fotoSeleccionada?.id"
          [alt]="fotoSeleccionada?.name"
        />
      </div>
    </div>
    <div class="col-12 col-md-4 order-1 order-md-2 rightSidebar pt-4">
      <div class="form-group">
        <div class="container">
          <div class="mt-3 filaDetalles">DETALLES DEL ARCHIVO</div>
          <div class="mt-3 filaNombre">
            <b>{{ _fotoSeleccionada?.name }}</b>
          </div>
          <div class="mt-3 filaForm row mx-0">
            <label class="col col-2">Tags</label>
            <form [formGroup]="stateForm" class="col col-10">
              <mat-form-field class="w-100">
                <input
                  type="text"
                  matInput
                  formControlName="stateGroup"
                  required
                  [matAutocomplete]="autoGroup"
                  #etiqueta
                />
                <mat-autocomplete #autoGroup="matAutocomplete">
                  <mat-optgroup
                    *ngFor="let group of stateGroupOptions | async"
                    [label]="group.letter"
                  >
                    <mat-option *ngFor="let name of group.names" [value]="name">
                      {{ name }}
                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field>
              <div>
                <button
                  class="btn w-100"
                  (click)="agregaEtiqueta(etiqueta.value)"
                >
                  Agregar
                </button>
              </div>
            </form>
          </div>
          <div class="mt-3 filaTags">
            <p *ngIf="!etiquetas.length">
              Esta foto todavía no se ha etiquetado
            </p>
            <ng-container *ngIf="etiquetas.length">
              <div class="form-group flex-column d-flex">
                <label class="form-control-label ps-3 mb-3">Etiquetas:</label>
                <ul *ngIf="etiquetas.length" class="ps-3 ulEtiquetas ps-0">
                  <li
                    *ngFor="let etiqueta of etiquetas; let i = index"
                    class="badge badge-secondary"
                  >
                    <i
                      (click)="borrarEtiqueta(etiqueta._id, etiqueta.name)"
                      class="icon-close me-1"
                    ></i>
                    {{ etiqueta.name }}
                  </li>
                </ul>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid px-1 py-2 mx-auto" *ngIf="stateMultiEdit">
  <div class="border-bottom py-3 font-weight-bold titleEdit mb-0 ps-4">
    Editar imagenes
  </div>
  <div class="row mx-0 ps-4">
    <div class="col-12 col-md-8 order-2 order-md-1 text-left pt-4 ps-0">
      <table class="table">
        <thead class="thead">
          <tr class="row">
            <th class="col-2">Img</th>
            <th class="col-4">Nombre</th>
            <th class="col-4">Etiquetas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of _fotosSeleccionadas" class="row">
            <td class="col-2">
              <img [src]="urlImg + item.id" [alt]="item.name" />
            </td>
            <td class="text-truncate name col-4">{{ item.name }}</td>
            <td class="col-4">
              <app-listado-etiquetas
                *ngIf="item.etiquetas"
                [arrayEtiquetas]="item.etiquetas"
              ></app-listado-etiquetas>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-4 order-1 order-md-2 rightSidebar pt-4">
      <div class="form-group">
        <div class="container">
          <div class="mt-3 filaDetalles">AÑADIR ETIQUETA COMÚN</div>
          <div class="mt-3 filaForm row mx-0">
            <label class="col col-2">Tags</label>
            <form [formGroup]="stateForm" class="col col-10">
              <!-- <mat-form-field class="w-100">
                <input
                  type="text"
                  matInput
                  formControlName="stateGroup"
                  required
                  [matAutocomplete]="autoGroup"
                  #etiqueta
                />
                <mat-autocomplete #autoGroup="matAutocomplete">
                  <mat-optgroup
                    *ngFor="let group of stateGroupOptionsMulti | async"
                    [label]="group.letter"
                  >
                    <mat-option *ngFor="let name of group.names" [value]="name">
                      {{ name }}
                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
              </mat-form-field> -->
              <div>
                <!-- <button
                  class="btn w-100"
                  (click)="agregaEtiquetaComun(etiqueta.value)"
                >
                  Agregar
                </button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDICIÓN MÚLTIPLE -->
