<button
  type="button"
  class="btn-close close pull-right"
  (click)="bsModalRef.hide()"
>
  <span aria-hidden="true" class="visually-hidden">×</span>
</button>
<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center px-5">
    <div class="col-12">
      {{ _fotoSeleccionada?.name }}
    </div>
    <div class="col-8 card">
      <div class="form-group">
        <input type="text" placeholder="Nombre de la etiqueta" #etiqueta />
        <button
          class="btn btn-success"
          (click)="agregaEtiqueta(etiqueta.value)"
        >
          Agregar
        </button>
      </div>
      <h2 *ngIf="!etiquetas.length">Esta foto todavía no se ha etiquetado</h2>
      <ng-container *ngIf="etiquetas.length">
        <div class="form-group flex-column d-flex">
          <label class="form-control-label pl-2">Etiquetas:</label>
          <ul *ngIf="etiquetas.length" class="ulEtiquetas">
            <li *ngFor="let etiqueta of etiquetas">
              {{ etiqueta }}
              <button class="btn" (onClick)="borrarEtiqueta(etiqueta)">
                X
              </button>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
    <div class="col-1"></div>
    <div class="col-3 card">
      <img
        class="img-fluid imgEtiquetada"
        [src]="urlImg + _fotoSeleccionada?.id"
        [alt]="fotoSeleccionada?.name"
      />
    </div>
  </div>
</div>
