.notification {
  position: fixed;
  top: 2vh;
  left: 2%;
  width: auto;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-info {
  border-color: #bee5eb;
}

.alert-success {
  border-color: #c3e6cb;
}

.alert-danger {
  border-color: #f5c6cb;
}
