<div class="container-fluid p-4 p-md-5 pt-md-0">
  <!--BOTÓN PARA RESETEAR BASE DE DATOS -->
  <!-- <button class="btn btn-warning" (click)="creoBaseDatos()">
    Genera base de datos
  </button> -->

  <!-- NOTIFICACIONES -->
  <span *ngIf="notification">
    {{ notificationMessage }}
  </span>

  <!-- CONTEXT MENU -->
  <div
    class="p-3 border bg-light contextMenu"
    #contextMenu
    [ngClass]="{ visible: showContextMenu, invisible: !showContextMenu }"
  >
    <ul class="p-0" #insideMenu>
      <li (click)="agregarEtiquetas(fotoSeleccionada)" class="p-2">
        Agregar etiquetas
      </li>
      <li (click)="borrarArchivo()" class="p-2">Eliminar foto</li>
    </ul>
  </div>

  <!-- LOADING BAR -->
  <span *ngIf="showLoading" class="loadingSpan"
    ><img src="/assets/img/loading.gif" alt="Cargando"
  /></span>

  <!-- ARCHIVOS SIN ETIQUETAR (INFINTITE SCROLL HORZONTAL) -->
  <div *ngIf="filesNewsTemp[0]" class="w-100 contentNew">
    <div class="bg-white w-100 over header">
      <h3 class="pt-0 pt-md-5">
        Sin etiquetar [{{ contadorFotos }} de {{ filesNew.length }}]
      </h3>
      <hr class="mb-3" />
    </div>
    <button
      class="btn btn-warning botonNavegacion d-none d-md-inline-block"
      (click)="scrollLeft()"
    >
      <<
    </button>
    <ul
      class="contentArchivosNuevos"
      infiniteScroll
      [infiniteScrollDistance]="2"
      (scrolled)="onScrollNew()"
      [scrollWindow]="false"
      [horizontal]="true"
      #contentArchivosNuevos
    >
      <li
        class="new-item"
        *ngFor="let file of Object.keys(filesNewsTemp[0]); let i = index"
        draggable="true"
      >
        <span
          class="bgVideo"
          *ngIf="filesNewsTemp[0][file].mimeType.includes('video')"
          (click)="abrirPopup(filesNewsTemp[0][file])"
        ></span>
        <img
          *ngIf="filesNewsTemp[0][file].mimeType.includes('image')"
          (click)="abrirPopup(filesNewsTemp[0][file])"
          (contextmenu)="onRightClick($event, filesNewsTemp[0][file], i)"
          class="img-fluid"
          [src]="urlImg + filesNewsTemp[0][file].id"
          [alt]="filesNewsTemp[0][file].name"
          [id]="i"
        />
      </li>
    </ul>
    <button
      class="btn btn-warning botonNavegacion d-none d-md-inline-block"
      (click)="scrollRight()"
    >
      >>
    </button>
  </div>

  <!-- ARCHIVOS YA ETIQUETADOS (INFINITE SCROLL VERTICAL) -->
  <div *ngIf="filesOldTemp[0]" class="w-100 contentOld">
    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      (scrolled)="onScrollOld()"
      [scrollWindow]="true"
    >
      <div class="bg-white w-100 over header">
        <h3>Galería [{{ contadorFotos }} de {{ filesOld.length }}]</h3>
        <div class="position-relative mb-4 pb-2">
          <hr
            class="rellenoBarra position-absolute over m-0"
            [attr.width]="porcentaje"
          />
          <hr class="fondoBarra m-0" />
        </div>
      </div>
      <div class="contentArchivosViejos">
        <ngx-masonry [ordered]="true" [options]="myOptions">
          <div
            ngxMasonryItem
            class="masonry-item"
            *ngFor="let file of Object.keys(filesOldTemp[0]); let i = index"
            (click)="abrirPopup(filesOldTemp[0][file])"
          >
            <span
              class="bgVideo"
              *ngIf="filesOldTemp[0][file].mimeType.includes('video')"
            ></span>
            <img
              *ngIf="filesOldTemp[0][file].mimeType.includes('image')"
              (contextmenu)="onRightClick($event, filesOldTemp[0][file], i)"
              [src]="urlImg + filesOldTemp[0][file].id"
              [alt]="filesOldTemp[0][file].name"
              [id]="i"
              class="img-fluid"
            />
          </div>
        </ngx-masonry>
      </div>
    </div>
  </div>

  <!-- BOTÓN PARA IR HACIA ARRIBA -->
  <button
    [ngClass]="'no-hidden'"
    *ngIf="showGoUpButton"
    class="btn btn-dark"
    (click)="scrollTop()"
  >
    GO UP
  </button>
</div>
