<div class="container-fluid p-4 p-md-5 pt-md-0">
  <!--BOTÓN PARA RESETEAR BASE DE DATOS -->
  <!--   <button class="btn btn-warning" (click)="creoBaseDatos()">
    Genera base de datos
  </button> -->

  <!-- LOADING BAR -->
  <span *ngIf="showLoading" class="loadingSpan"
    ><img src="/assets/img/loading.gif" alt="Cargando"
  /></span>

  <div *ngIf="filesAllTemp[0]">
    <div class="w-100 contentNew">
      <div
        infiniteScroll
        [infiniteScrollDistance]="2"
        (scrolled)="onScrollNew()"
        [scrollWindow]="true"
        #contentArchivosNuevos
      >
        <div class="w-100 over header">
          <div class="row pt-5">
            <div class="col-4">
              <h4 class="card-title">Galería multimedia</h4>
              <h6 class="card-subtitle m-b-20 text-muted">
                <b>{{ filesNew.length }}</b> Archivos
                <small
                  >[<b>{{ filesNew.length - filesOld.length }}</b> sin
                  etiquetar]</small
                >
              </h6>
            </div>
            <div class="col-8 text-right">
              <button
                *ngIf="!multiEditMode"
                class="btn btn-outline-dark"
                (click)="multiEditMode = !multiEditMode"
              >
                <i class="icon-pencil me-3"></i>Edición múltiple
              </button>
              <button
                *ngIf="multiEditMode"
                class="btn btn-danger"
                (click)="multiEditMode = !multiEditMode"
              >
                Cancelar
              </button>
              <button
                *ngIf="multiEditMode && this.arrayMultiEdit.length > 1"
                class="btn btn-warning ms-4"
                (click)="edicionMultiple()"
              >
                <i class="icon-pencil me-3"></i>Editar seleccionados
              </button>
            </div>
          </div>
          <hr class="mb-3" />
        </div>
        <div class="contentArchivos">
          <ngx-masonry
            [ordered]="true"
            [options]="myOptions"
            #NgxMasonryComponent
          >
            <div
              ngxMasonryItem
              class="masonry-item"
              [ngClass]="{
                noetiquetada: filesAllTemp[0][file].etiquetas.length === 0
              }"
              id="{{ filesAllTemp[0][file].id }}"
              *ngFor="let file of Object.keys(filesAllTemp[0]); let i = index"
            >
              <div class="el-overlay-1">
                <span class="checkBoxSelection" *ngIf="multiEditMode">
                  <input
                    type="checkbox"
                    #checkboxMultiEdit
                    class="inputMultiElement {{ i }}"
                    (change)="updateArrayMultiEdit(filesAllTemp[0][file])"
                  />
                </span>
                <span
                  class="bgVideo"
                  (click)="abrirPopup(filesAllTemp[0][file])"
                  *ngIf="filesAllTemp[0][file].mimeType.includes('video')"
                ></span>
                <img
                  *ngIf="filesAllTemp[0][file].mimeType.includes('image')"
                  [src]="urlImg + filesAllTemp[0][file].id"
                  [alt]="filesAllTemp[0][file].name"
                  [id]="i"
                  class="img-fluid"
                />
                <div class="el-overlay" *ngIf="!multiEditMode">
                  <ul class="el-info">
                    <li (click)="abrirPopup(filesAllTemp[0][file])">
                      <span><i class="icon-magnifier"></i></span>
                    </li>
                    <li (click)="agregarEtiquetas(filesAllTemp[0][file])">
                      <span><i class="icon-pencil"></i></span>
                    </li>
                    <li (click)="borrarArchivo(filesAllTemp[0][file], i)">
                      <span><i class="icon-trash"></i></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ngx-masonry>
        </div>
      </div>
    </div>
  </div>

  <!-- BOTÓN PARA IR HACIA ARRIBA -->
  <button
    [ngClass]="'no-hidden'"
    *ngIf="showGoUpButton"
    class="btn btn-dark"
    (click)="scrollTop()"
  >
    GO UP
  </button>
</div>
