<div class="container-fluid p-2 p-md-5 pt-md-0">
  <!-- <button class="btn btn-warning" (click)="creoBaseDatos()">
    Genera base de datos
  </button> -->
  <span *ngIf="notification">
    {{ notificationMessage }}
  </span>
  <span *ngIf="showLoading" class="loadingSpan"
    ><img src="/assets/img/loading.gif" alt="Cargando"
  /></span>

    <div *ngIf="filesNewsTemp[0]" class="position-absolute w-100 contentNew">
      <div class="bg-white w-100 over header">
        <h3 class="pt-5">
          Fotos y videos sin etiquetar [{{ contadorFotos }} de
          {{ filesNew.length }}]
        </h3>
        <div class="position-relative mb-4 pb-2">
          <hr
            class="rellenoBarra position-absolute over m-0"
            [attr.width]="porcentaje"
          />
          <hr class="fondoBarra m-0" />
        </div>
      </div>
      <button class="btn btn-default" (click)="scrollLeft()">Anterior</button>
      <ul class="contentArchivosNuevos"
        infiniteScroll
        [infiniteScrollDistance]="2"
        (scrolled)="onScrollNew()"
        [scrollWindow]="false"
        [horizontal]="true"
        #contentArchivosNuevos>

          <li
            class="new-item"
            *ngFor="let file of Object.keys(filesNewsTemp[0]); let i = index"
            draggable="true"
          >
            <span
              class="bgVideo"
              *ngIf="filesNewsTemp[0][file].mimeType.includes('video')"
              (click)="abrirPopup(filesNewsTemp[0][file])"
            ></span>
            <img
              *ngIf="filesNewsTemp[0][file].mimeType.includes('image')"
              (click)="abrirPopup(filesNewsTemp[0][file])"
              class="img-fluid"
              [src]="urlImg + filesNewsTemp[0][file].id"
              [alt]="filesNewsTemp[0][file].name"
              [id]="i"
            />
          </li>

      </ul>
      <button class="btn btn-default" (click)="scrollRight()">Sig.</button>
    </div>

    <div *ngIf="filesNewsTemp[0]" class="position-absolute w-100 contentOld">
      <div
        infiniteScroll
        [infiniteScrollDistance]="2"
        (scrolled)="onScrollOld()"
        [scrollWindow]="true"
      >
      <div class="position-absolute bg-white w-100 over header">
        <h3 class="pt-5">
          Fotos y videos con etiqueta [{{ contadorFotos }} de
          {{ filesOld.length }}]
        </h3>
        <div class="position-relative mb-4 pb-2">
          <hr
            class="rellenoBarra position-absolute over m-0"
            [attr.width]="porcentaje"
          />
          <hr class="fondoBarra m-0" />
        </div>
      </div>
      <div class="contentArchivosViejos">
        <ngx-masonry [ordered]="true" [options]="myOptions">
          <div
            ngxMasonryItem
            class="masonry-item"
            *ngFor="let file of Object.keys(filesOldTemp[0]); let i = index"
          >
            <span
              class="bgVideo"
              *ngIf="filesOldTemp[0][file].mimeType.includes('video')"
            ></span>
            <img
              *ngIf="filesOldTemp[0][file].mimeType.includes('image')"
              [src]="urlImg + filesOldTemp[0][file].id"
              [alt]="filesOldTemp[0][file].name"
              [id]="i"
            />
            <div class="bg-dark text-white p-3">
              <p class="mr-3">Name: {{ filesOldTemp[0][file].name }}</p>
              <p>Extension: {{ filesOldTemp[0][file].mimeType  }}</p>
              <p class="text-break">
                id: <small>{{ filesOldTemp[0][file].id }}</small>
              </p>
              <button
                class="btn btn-danger"
                (click)="borrarArchivo(filesOldTemp[0][file].id, i)"
              >
                Borrar
              </button>
              <button
                class="btn btn-warning"
                (click)="abrirPopup(filesOldTemp[0][file])"
              >
                Abrir
              </button>
            </div>
          </div>
        </ngx-masonry>
      </div>
    </div>
  </div>

  <!--
  <h3 class="border-bottom">Fotos y videos [{{filesOld.length}}]</h3>
  <ul *ngFor="let file of filesOld">
    <li>
        <ng-container *ngIf="!file.durationMillis">
            {{file.name}} - Es una imagen vieja
        </ng-container>
        <ng-container *ngIf="file.durationMillis">
            {{file.name}} - Es un video viejo
        </ng-container>
    </li>
  </ul>
-->

  <!-- <div class="container" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScrollNew()">
      <h1 style="text-align: center">INFINITE SCROLL EXAMPLE</h1>
      <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><strong>TEXT</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let line of linesToWrite; index as i">
              <th scope="row">{{i}}</th>
              <th scope="row">{{line}}</th>
            </tr>
        </tbody>
      </table>
  </div> -->

  <button
    [ngClass]="'no-hidden'"
    *ngIf="showGoUpButton"
    class="btn btn-dark"
    (click)="scrollTop()"
  >
    GO UP
  </button>
</div>
