<div class="container-fluid p-5">
  <h2 class="mb-4">Listado de fotos de google drive</h2>
  <!-- <button class="btn btn-warning" (click)="creoBaseDatos()">
    Genera base de datos
  </button> -->
  <span *ngIf="notification">
    {{ notificationMessage }}
  </span>
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    (scrolled)="onScrollNew()"
    [scrollWindow]="true"
  >
    <div *ngIf="filesNewsTemp[0]">
      <h3 class="border-bottom mb-5 pb-3">
        Fotos y videos sin etiquetar [{{ filesNewsTemp[0].length }}]
      </h3>
      <ngx-masonry [ordered]="true" [options]="myOptions">
        <div
          ngxMasonryItem
          class="masonry-item"
          *ngFor="let file of Object.keys(filesNewsTemp[0]); let i = index"
        >
          <!--NO MUESTRA NADA DEL ALBUM PRIVADO  -->
          <ng-container>
            <span
              class="bgVideo"
              *ngIf="
                filesNewsTemp[0][file].fileExtension == 'webm' ||
                filesNewsTemp[0][file].fileExtension == 'avi' ||
                filesNewsTemp[0][file].fileExtension == 'mp4'
              "
            ></span>
            <img
              [src]="urlImg + filesNewsTemp[0][file].id"
              [alt]="filesNewsTemp[0][file].name"
              [id]="i"
            />
            <div class="bg-dark text-white p-3">
              <p class="mr-3">Name: {{ filesNewsTemp[0][file].name }}</p>
              <p class="text-break">
                id: <small>{{ filesNewsTemp[0][file].id }}</small>
              </p>
              <button
                class="btn btn-danger"
                (click)="borrarArchivo(filesNewsTemp[0][file].id, i)"
              >
                Borrar
              </button>
            </div>
          </ng-container>
        </div>
      </ngx-masonry>
    </div>
  </div>

  <!--
  <h3 class="border-bottom">Fotos y videos [{{filesOld.length}}]</h3>
  <ul *ngFor="let file of filesOld">
    <li>
        <ng-container *ngIf="!file.durationMillis">
            {{file.name}} - Es una imagen vieja
        </ng-container>
        <ng-container *ngIf="file.durationMillis">
            {{file.name}} - Es un video viejo
        </ng-container>
    </li>
  </ul>
-->

  <!-- <div class="container" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScrollNew()">
      <h1 style="text-align: center">INFINITE SCROLL EXAMPLE</h1>
      <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"><strong>TEXT</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let line of linesToWrite; index as i">
              <th scope="row">{{i}}</th>
              <th scope="row">{{line}}</th>
            </tr>
        </tbody>
      </table>
  </div> -->

  <button
    [ngClass]="'no-hidden'"
    *ngIf="showGoUpButton"
    class="btn btn-dark"
    (click)="scrollTop()"
  >
    GO UP
  </button>
</div>
