html,
body {
  height: 100%;
  width: 100%;
  min-height: 50px;
}

.no-hidden {
  position: fixed;
  bottom: 10px;
  right: 10px;
  visibility: visible;
}

.container {
  height: 100%;
  min-height: 50px;
}

.page {
  padding: 20px;
}
nav {
  background-color: lightpink !important;
}

$width: 300px;
$auto: auto;
ng-masonry-grid {
  margin: 0 $auto;
}
.masonry-item {
  height: $auto;
  width: $width;
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
  img {
    height: $auto;
    width: $width;
    display: inline-block;
  }
}
