/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.over{
  z-index: 2;
}

.modal-dialog {
  max-width: 95%!important;
  height: 95vh!important;
}

.modal-content {
  height: 100%;
  padding: 2rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
