<div
  class="position-fixed bg-white w-100 h-100 p-3 p-md-5 popup"
  *ngIf="statePopup"
>
  <button class="btn btn-danger" (click)="cerrarPopup()">X</button>
  <h2 class="text-center">{{ popup.name }}</h2>
  <div class="contenedorArchivo m-auto text-center">
    <!--VIDEO-->
    <ng-container *ngIf="popup.mimeType?.includes('video')">
      <video
        controls
        preload="none"
        [poster]="popup.thumbnailLink"
        width="100%"
        playsinline
      >
        <source [src]="popup.webViewLink" type="video/mp4" />
        Video not supported
      </video>
    </ng-container>
    <!--FOTO-->
    <ng-container *ngIf="popup.mimeType?.includes('image')">
      <img
        [src]="urlImg + popup.id"
        [alt]="popup.name"
        class="mt-4 img-fluid"
      />
    </ng-container>
    <!--ETIQUETAS-->
    <ng-container *ngIf="etiquetas.length">
      <div class="form-group flex-column d-flex">
        <label class="form-control-label pl-2">Etiquetas:</label>
        <ul *ngIf="etiquetas.length" class="ulEtiquetas">
          <li *ngFor="let etiqueta of etiquetas">
            {{ etiqueta }}
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</div>
