.popup {
  z-index: 99;
}

img {
  max-height: 80vh;
}

table {
  width: 97%;
  position: relative;
  left: 1%;
}

table img {
  max-height: 50px;
}
table td.name {
  max-width: 50%;
}

.fondoPopUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.8);
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}

button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0px;
  appearance: none;
  display: block;
  outline: none;
  padding: 0px;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
  font-size: 1.5rem;
  color: rgb(51, 51, 51) !important;
}

span.cerrarPopUp {
  background: url(/assets/img/sprite.svg);
  border: 0;
  background-position: 0 -3250px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.panel-info {
  background: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  overflow: auto;
  color: white;
  padding: 1rem;
  height: auto;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 0 0px 12px;
    font-size: 1rem;
    display: inline-block;
    li {
      display: inline-block;
      margin-right: 1rem;
      i {
        cursor: pointer;
      }
    }
  }
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.iconInfo {
  position: absolute;
  cursor: pointer;
  top: 6px;
  right: 1.5rem;
}

.panel-cerrado *:not(.iconInfo) {
  display: none;
}

.botonInfo {
  background: url(/assets/img/sprite.svg);
  border: 0;
  background-position: 0 -874px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.botonDescarga {
  background: url(/assets/img/sprite.svg);
  border: 0;
  background-position: 0 -482px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cabeceraPopUp {
  left: 0;
  z-index: 2;
  min-width: 360px;
}
